
body {
  overflow: hidden;
}

.mainContainer {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.header {
  font-weight: 500;
  font-family: Ubuntu, sans-serif;
  font-size: 3em;
}

.comingSoon {
  font-family: Ubuntu, sans-serif;
  font-size: 1.2em;
  letter-spacing: .4em;
  text-transform: uppercase;
  padding-top: 30px;
}
