html {
  font-size: 16px;
}
/* @media (max-width: 768px) {
  html {
    font-size: 16px;
  }
} */

body {
  font-size: 1rem;
  max-width: 32em;
  padding: 0 20px;
  margin: auto;
}

nav {
  padding: 20px 0 20px 0;
  display: flex;
  box-shadow: 0 1px 0px 0px black;
}

.navItem {

}

.navItem.logo {
  flex: 1 0;
}

.navItem.right {
  padding-left: 20px;
}

main {
  padding: 20px 0 0 0;
}

.content {
  /* max-width: 32em; */
  margin: auto;
}
