.projectsPage {
    text-align: center;
    padding: 20px 0;
}




.projectTile {
    height: 250px;
    width: 250px;
    display: inline-block;
    vertical-align: top;
    /* width: calc(100% - 20px); */
    /*border: 1px solid;*/
    margin: 20px;
    box-shadow: -1px 1px 0px 2px rgba(0,0,0,.5); 
    text-align: left;
    /* padding: 20px; */
    font-family: Ubuntu, sans-serif; 
    position: relative;
    overflow: hidden;
}

/* .projectTile:hover .projectTileLabel {
    opacity: 1;
    background-color: rgba(0,0,0,.75);
    color: #fff;
} */

.projectTileLabel {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* height: 100%; */
    width: 100%;
    /* padding: 20px; */
    /* z-index: 5; */
    /* opacity: 0; */
    transition: all .2s;
    padding: 10px;
}

.projectTileImage {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    height: 200px;
    width: 100%;
    /* background-color: rgba(0,0,0,.5); */
}

.projectTileImage img {
    height: 100%;
    width: auto;
    margin: auto;
}










.daysOfArt {

}

.pageHeader {
    width: 100%;
    text-align: left;
}

.backButton {
    display: block;
    margin: 20px;
}

.dayArtImage {
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin: 10px;
    overflow: hidden;
}

.dayArtImage img {
    height: 100%;
    width: auto;
}




.ieeeConnectPage {
    height: auto;
    width: 100%;
    text-align: left;
}

.appImagesContainer {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.appImagesContainer img {
    width: 100%;
    height: auto;
    float: left;
}



.backButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}